<header>
	<div class="left_area">
		<h3><span>School</span>management</h3>
	</div>
	<div class="right_area">
		<a href="" class="logout_btn">Logout</a>
	</div>
</header>
<div class="sidebar">
	<center>
		<img src="" class="profile_image" alt=""/>
		<h4>Admin</
		h4>
	</center>
	<%= link_to "Home", :controller => "admin", :action => "index" %>
	<%= link_to "Students Details", :controller => "student", :action => "index" %>
	<%= link_to "Teachers Details", :controller => "teacher", :action => "index" %>
	<%= link_to "Attendence", :controller => "attendence", :action => "index" %>
</div>
