<%= render "admin/adminheader" %>
<div class="container" style="width:60%; position:relative; top:100px; z-index:0;">
<h1 style="position:relative; top:50px; ">Attendence Register</h1>
<br/><br/><br/>
<%= link_to "Put attendence", new_attendence_path, class:"btn btn-primary" %>
</div>